.profile {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  & .header {
    width: 100%;
    height: 100%;
    max-height: 200px;
    box-shadow: 0px 0px 5px 0px gray;
    position: relative;

    & .cover {
      background-image: url("/webb.png");
      width: 80%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      @media (--device) {
        width: 100%;
      }
    }

    & .avatar {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 120px;
      width: 150px;
      height: 150px;
      border-radius: 100px;
      border: 3px solid white;
      @media (--device) {
        width: 125px;
        height: 125px;
        top: 125px;
      }
      & .pic {
        object-fit: contain;
        border-radius: 100%;
        width: 100%;
      }
    }
  }

  & .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // width: 80%;
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 50px;
    & .info {
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      @media (--device) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      //   box-shadow: 0px 4px 3px -2px grey;
      & .user,
      .job {
        display: flex;
        flex-direction: column;
        width: 100%;
        // justify-content: ;
        align-items: center;
        @media (--device) {
          align-items: center;
        }

        // & > div:nth-child(1),
        // div:nth-child(2) {
        //   font-size: 1.5em;
        //   font-weight: bold;
        // }
        // & > div:nth-child(2) {
        //   margin-left: 10px;
        //   margin-right: 10px;
        // }
        // & > div:last-child {
        //   color: white;
        //   font-weight: bold;
        //   & > :first-letter {
        //     text-transform: capitalize;
        //   }
        // }
      }
      & .job {
        margin-top: 0px;
        & > div:nth-child(1) {
          font-size: 1.2em;
        }
      }
      & .name {
        display: flex;
        align-items: center;
        justify-content: center;
        & > div:nth-child(1),
        div:nth-child(2) {
          font-size: 1.5em;
          font-weight: bold;
          margin: 0 5px 0 0;
        }
      }
    }
    & .skills {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }
}
