.content {
  height: calc(100vh - 64px);
  @media (--device) {
    height: calc(100vh - 56px);
  }
  & .item {
    display: flex;
    align-items: center;
    flex-direction: row;
    a {
      display: flex;
      align-items: center;
    }
    &:hover {
      cursor: pointer;
      background-color: lightsteelblue;
    }
  }
}
