.sideBar,
.absoluteSideBar {
  background-color: white;
  box-shadow: 0px 0px 5px 0px gray;
  max-width: 300px;
  min-width: 300px;
  height: 100%;
  padding: 10px;
  z-index: 100;
}

.sideBar {
  @media (--device) {
    display: none;
  }
}

.smallDevice {
  display: none;
  @media (--device) {
    display: inline;
    position: absolute;
    top: 54px;
    left: 16px;
    align-items: flex-start;
    height: fit-content;
  }
  @media (--tablet) {
    top: 64px;
    left: 24px;
  }
}

.absoluteSideBar {
  display: none;
  @media (--device) {
    display: inline;
    position: absolute;
    top: 54px;
  }
  @media (--tablet) {
    display: inline;
    top: 64px;
  }
}
